
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Codystar:wght@300;400&family=Manrope:wght@200..800&family=Monoton&family=Mozilla+Headline:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Playwrite+NO:wght@100..400&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {
    margin: 0px;
    color: white;
    background-color: rgb(48, 46, 46);
      font-family: "Pixelify Sans", sans-serif;
}

header {
    border-bottom: solid 5px rgb(232, 229, 229);
    position: relative;
    padding-bottom: 300px;
}

.btn-again{
position: absolute;
left: 10px;
  font-family: "Pixelify Sans", sans-serif;
font-size: 25px;
padding: 10px;
border: none;
cursor: pointer;
}

.between {
    
    position: absolute;
    right: 10px;
 
    font-size: 30px;
}

.title{
    font-size: 60px;
    position: absolute;
    left: 500px;
    top: 80px;

}

.logo{
    position: absolute;
    left: 710px;
    top: 240px;
    padding: 5px 20px;
    font-size: 35px;
    font-weight: 700;
    color: black;
    background-color: white;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}


.left-side{
   
    text-align: center;
}

.right-side{
   
    font-size: 30px;
}

input{
    display: block;
    margin-bottom: 20px;
    width: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  border: solid 3px white;
    background-color:  rgb(48, 46, 46);
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.btn-check{
    padding: 8px;
      font-family: "Pixelify Sans", sans-serif;
      font-size: 20px;
      cursor: pointer;
}